In [2]:
import pandas as pd

In [6]:
doc = pd.read_csv('datasets/medicalDoctors.csv')
nur = pd.read_csv('datasets/nursingAndMidwife.csv')
pha = pd.read_csv('datasets/pharmacists.csv')
den = pd.read_csv('datasets/dentists.csv')

In [18]:
doc.head()

      Location  Period                     Indicator  First Tooltip
0  Afghanistan    2016  Medical doctors (per 10,000)           2.78
1  Afghanistan    2015  Medical doctors (per 10,000)           2.85
2  Afghanistan    2014  Medical doctors (per 10,000)           2.98
3  Afghanistan    2013  Medical doctors (per 10,000)           2.85
4  Afghanistan    2012  Medical doctors (per 10,000)           2.41

In [11]:
den.Indicator.unique()

array(['Dentists (per 10,000)'], dtype=object)

In [15]:
den.groupby('Location').mean()['First Tooltip']

Location
Afghanistan                           0.082167
Albania                               4.034000
Algeria                               3.067500
Andorra                               6.042857
Angola                                0.060500
                                        ...
Vanuatu                               0.370000
Venezuela (Bolivarian Republic of)    5.550000
Yemen                                 0.217500
Zambia                                0.128143
Zimbabwe                              0.120571
Name: First Tooltip, Length: 191, dtype: float64

In [17]:
den[den['Period'] == 2016]

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2016,"Dentists (per 10,000)",0.034
65,Australia,2016,"Dentists (per 10,000)",5.860
78,Austria,2016,"Dentists (per 10,000)",5.660
147,Bangladesh,2016,"Dentists (per 10,000)",0.440
193,Belgium,2016,"Dentists (per 10,000)",7.470
...,...,...,...,...
2045,United Arab Emirates,2016,"Dentists (per 10,000)",5.520
2064,United Kingdom of Great Britain and Northern I...,2016,"Dentists (per 10,000)",5.260
2084,Uruguay,2016,"Dentists (per 10,000)",12.190
2114,Zambia,2016,"Dentists (per 10,000)",0.190
2122,Zimbabwe,2016,"Dentists (per 10,000)",0.097